body {
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 100vh;
}

.navbar {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  box-shadow: #b2b2b2 2px 0px 2px;
}

.navbar.navbar-default .navbar-brand {
  color: #fff;
}

.content {
  margin-top: 50px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  min-height: 100vh;
  width: 50px;
  box-shadow: #b2b2b2 0px 5px 5px;
  z-index: 9999;float: left;
}

.side-nav {
  list-style: none;
  padding: 0;
}

.side-nav li {
  height: 50px;
  padding: 17px;
  text-decoration: none;
}

.side-nav li a{
  text-decoration: none;
}

.side-nav li:hover {
  color: white;
  background-color: #8EC5FC;
}

.side-nav li:hover a{
  color: white;
  text-decoration: none;
}

.side-nav li.active {
  color: white;
  background-color: #8EC5FC;
}

.side-nav li.active a{
  color: white;
  text-decoration: none;
}

.main-content {
  background-color: #f1f1f1;
  min-height: 100vh;
  padding: 20px;
  padding-left: 70px;
}

.widget-panel {
  color: #797979;
  padding: 40px 20px 40px 30px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06),0 1px 0px 0 rgba(0,0,0,0.02);
  background-color: #fff;
}

.widget-panel:hover {
  cursor: pointer;
}

.widget-panel h2 {
  font-weight: 600;
  font-size: 28px;
  margin: 0px !important;
}

.quick-generate {
  color: #797979;
  text-align: center;
  margin-bottom: 20px;
}

table.phone-list {
  border-collapse: collapse;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
  background-color: #fff;
  color: #8f8f8f;
  width: 300px;
  height: auto;
  border-radius: 5px;
}

table.phone-list thead tr th, table.phone-list tbody tr td {
  padding: 15px 10px;
  border: 0 !important;
}

table.phone-list tr:nth-child(even) {
  background-color: #f8f8f8;
}

.error-message {
  color: #c0392b;
}