<div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="widget-panel">
        <h2 class="counter">{{$ctrl.maxNumber}}</h2>
        <div>Max Phone Number</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="widget-panel">
        <h2 class="counter">{{$ctrl.minNumber}}</h2>
        <div>Min Phone Number</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="widget-panel">
        <h2 class="counter">{{$ctrl.total}}</h2>
        <div>Total Number of Phone numbers</div>
      </div>
    </div>
  </div>
</div>